#########################################
### IntelliJ IDEA (lo importante)     ###
#########################################
.idea/            # Carpeta de configuración del proyecto
*.iml            # Archivos de módulo de IntelliJ
out/             # Carpeta de compilados (NO se sube)

#########################################
### Eclipse ###
#########################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

#########################################
### NetBeans ###
#########################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#########################################
### VS Code ###
#########################################
.vscode/

#########################################
### Mac OS ###
#########################################
.DS_Store
